@model PlinePager.Models.TblSchedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Areas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Areas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Schedules)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Schedules)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Enable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Enable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
