@using PlinePager.Data
@using Microsoft.CodeAnalysis.Scripting
@model SoundTest
@inject PlinePagerContext _context
@{
    var agents = _context.TblAgents.Where(t => t.Enable == true).ToList();
}


<div class="row">
    <div class="col-4 offset-4">
        <h3>تست فایل های صوتی</h3>
        <hr/>
        <form asp-action="StartTestSound" asp-controller="Sounds" asp-route-id="@null" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SoundId">
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label">پیجر</label>
                    <select id="agent" class="form-select select2" asp-for="AgentId">
                        @foreach (var item in agents)
                        {
                            <option value="@item.Id">@item.Username</option>
                        }
                    </select>
                    <span asp-validation-for="AgentId" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label">بلندی صدا</label>
                    <select class="form-select select2" asp-for="Volume">
                        @for (int i = -10; i <= 10; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <input type="submit" value="شروع تست" class="btn btn-success"/>
                    <a href="javascript:Hangup();" class="btn btn-warning">قطع صدا</a>
                    <a href="@Url.Action("IndexTest")" class="btn btn-danger">بازگشت</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function(){
        $(".select2").select2({
            dir: "rtl"
        });
    });
    function Hangup(){
        var id = $("#agent").val();
        $.post("@Url.Action("Hangup")",{id:id},function (e){
            if (e.result===false){
                toastNotifyError("خطای رخ داده. لطفا دوباره تلاش کنید.");
            }
        },"JSON");       
    }
</script>
}