@model PlinePager.Models.AzanXls

@{
    var minuteAndSec = new List<SelectListItem>();
    for (int i = 0; i < 60; i++)
    {
        minuteAndSec.Add(new SelectListItem()
        {
            Text = i.ToString("00"),
            Value = i.ToString()
        });
    }

    var hour = new List<SelectListItem>();
    for (int i = 0; i < 24; i++)
    {
        hour.Add(new SelectListItem()
        {
            Text = i.ToString("00"),
            Value = i.ToString()
        });
    }

    var volume = new List<SelectListItem>();
    for (int i = -10; i < 11; i++)
    {
        volume.Add(new SelectListItem()
        {
            Text = i.ToString(),
            Value = i.ToString()
        });
    }

    IEnumerable<TblArea> areas = ViewBag.Areas;
    IEnumerable<TblSound> sounds = ViewBag.Sounds;
}

<div class="row">
    <div class="col-4 offset-4">
        <h3>ایجاد زمان اذان از فایل csv</h3>
        <hr/>
        <form enctype="multipart/form-data" method="post" asp-action="ImportXls">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="alert alert-info">
                <label class="control-label">در نظر داشته باشید که ردیف اول فایل بارگذاری شده به عنوان نام ستون در نظر گرفته می شود و از آن صرفه نظر می شود.</label>
            </div>

            <div class="form-group mb-3">
                <label asp-for="XlsFile" class="control-label"></label>
                <input type="file" id="date" asp-for="XlsFile" class="form-control"/>
                <span asp-validation-for="XlsFile" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input onchange="deleteAlert(this);" class="form-check-input" asp-for="DeleteOld"/> @Html.DisplayNameFor(model => model.DeleteOld)
                </label>
            </div>
            @* ********A*********  *@
            <div class="mb-3" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 20px; background-color: #ffffff; padding: 0 1px;">
                    اذان صبح
                </span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableA"/> @Html.DisplayNameFor(model => model.EnableA)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsBeforeA" class="control-label"></label>
                <select asp-for="SoundsBeforeA" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsBeforeA" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsA" class="control-label"></label>
                <select asp-for="SoundsA" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsA" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsAfterA" class="control-label"></label>
                <select asp-for="SoundsAfterA" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsAfterA" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AreasA" class="control-label"></label>
                <select asp-for="AreasA" class="form-select" asp-items="@(new SelectList(areas, "Id", "Name"))"></select>
                <span asp-validation-for="AreasA" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VolumeA" class="control-label"></label>
                <select asp-for="VolumeA" class="form-select-" asp-items="@volume"></select>
                <span asp-validation-for="VolumeA" class="text-danger"></span>
            </div>
            @* ********B*********  *@
            <div class="mb-3" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 20px; background-color: #ffffff; padding: 0 1px;">
                    اذان ظهر
                </span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableB"/> @Html.DisplayNameFor(model => model.EnableB)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsBeforeB" class="control-label"></label>
                <select asp-for="SoundsBeforeB" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsBeforeB" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsB" class="control-label"></label>
                <select asp-for="SoundsB" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsB" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsAfterB" class="control-label"></label>
                <select asp-for="SoundsAfterB" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsAfterB" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AreasB" class="control-label"></label>
                <select asp-for="AreasB" class="form-select" asp-items="@(new SelectList(areas, "Id", "Name"))"></select>
                <span asp-validation-for="AreasB" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VolumeB" class="control-label"></label>
                <select asp-for="VolumeB" class="form-select-" asp-items="@volume"></select>
                <span asp-validation-for="VolumeB" class="text-danger"></span>
            </div>
            @* ********C*********  *@
            <div class="mb-3" style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
                <span style="font-size: 20px; background-color: #ffffff; padding: 0 1px;">
                    اذان مغرب
                </span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EnableC"/> @Html.DisplayNameFor(model => model.EnableC)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsBeforeC" class="control-label"></label>
                <select asp-for="SoundsBeforeC" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsBeforeC" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsC" class="control-label"></label>
                <select asp-for="SoundsC" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsC" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoundsAfterC" class="control-label"></label>
                <select asp-for="SoundsAfterC" class="form-select" asp-items="@(new SelectList(sounds, "Id", "Name"))"></select>
                <span asp-validation-for="SoundsAfterC" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AreasC" class="control-label"></label>
                <select asp-for="AreasC" class="form-select" asp-items="@(new SelectList(areas, "Id", "Name"))"></select>
                <span asp-validation-for="AreasC" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="VolumeC" class="control-label"></label>
                <select asp-for="VolumeC" class="form-select-" asp-items="@volume"></select>
                <span asp-validation-for="VolumeC" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group mb-3">
                <input type="submit" value="ذخیره" class="btn btn-primary"/>
                <a asp-action="Index" class="btn btn-danger">انصراف</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
    $(function(){
        $(".form-select").select2({
            dir: "rtl",
            multiple: true,
            placeholder: 'گزینه ای را انتخاب کنید...',
            allowClear: true
        });
        $(".form-select").val(null).trigger('change');
    });
    function deleteAlert(e){
        if (e.checked){
            e.checked = confirm("با فعال کردن این گزینه تمامی ساعت های اذان های گذشته حذف میگردد. مطمئن هستید؟");
        }
    }
    </script>
}