@model PlinePager.Models.TblAzan

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblAzan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinuteA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinuteA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsBeforeA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsBeforeA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsAfterA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsAfterA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreasA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreasA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinuteB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinuteB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsBeforeB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsBeforeB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsAfterB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsAfterB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreasB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreasB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnableC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnableC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinuteC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinuteC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsBeforeC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsBeforeC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoundsAfterC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoundsAfterC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreasC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreasC)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
